/* stylesheet */

html, body { height: 100%; }
body {	min-height: 100%;
	background-color: black; color: lime;
	background: linear-gradient(black,lime);
}
div#top { margin-left: auto; margin-right: auto; max-width: 800px; }
a { color: yellow; }
a:hover { color: black; background-color: #ffa; }
ul#etc { font-size: small; }
hr { color: lime; }
.tt { font-family: monospace; }
.lh { list-style-type: none; }
footer p { max-width: 88px; float: right; margin-left: 3px; }

/* EOF */
